:root {
    --bg-dark: #1A2F3A;
    --purple: #967af2;
    --purple-dark: #4F3B90;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    margin: 0px;
    height: 100vh;
    background-color: var(--bg-dark);
}

*:focus {
    outline: 0 !important;
}